################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/Template/.vs/Template
/Template/Template.Core/obj/Debug/Template.Core.csprojAssemblyReference.cache
/Template/Template.Data/obj/Debug/Template.Data.csprojAssemblyReference.cache
/Template/Template.Framework/obj/Debug/Template.Framework.csprojAssemblyReference.cache
/Template/Template.Service/obj/Debug/Template.Service.csprojAssemblyReference.cache
/Template/Template.ViewModel/obj/Debug/Template.ViewModel.csprojAssemblyReference.cache
/Template/Template.Web/bin
/Template/packages
/Template/Template.Core/bin/Debug
/Template/Template.Core/obj/Debug
/Template/Template.Data/bin/Debug
/Template/Template.Data/obj/Debug
/Template/Template.Framework/bin/Debug
/Template/Template.Framework/obj/Debug
/Template/Template.Service/bin/Debug
/Template/Template.Service/obj/Debug
/Template/Template.ViewModel/bin/Debug
/Template/Template.ViewModel/obj/Debug
/Template/Template.Web/obj/Container
/Template/Template.Web/obj/Debug
/Template/Template.Core/obj/Release
/Template/Template.Data/obj/Release
/Template/Template.Framework/obj/Release
/Template/Template.Service/obj/Release
/Template/Template.ViewModel/obj/Release
/Template/Template.Web/obj/Release
/Template/Template.CoreTests/bin/Debug
/Template/Template.CoreTests/obj
